/* Responsive Styles */

@media (--bp-xl) {
    .deck-card {
        max-width: 600px;
    }
}

@media (--bp-md) {
    .deck-card {
        max-width: 100%;
    }
    
    .login-form {
        max-width: 100%;
        margin: var(--lumo-space-m);
    }
}

@media (--bp-sm) {
    .deck-card {
        padding: var(--lumo-space-s);
    }
    
    .login-form {
        padding: var(--lumo-space-m);
    }
}
