http:
  middlewares:
    traefik-dashboard-auth:
      basicAuth:
        users:
          # Password hash from Ansible vault (vault_traefik_dashboard_password_hash)
          # Format: username:$apr1$hash
          # Generate hash: htpasswd -nb admin PASSWORD | cut -d: -f2
          - "{{ traefik_dashboard_user }}:{{ vault_traefik_dashboard_password_hash }}"

