apiVersion: 1

datasources:
  - name: Prometheus
    uid: prometheus
    type: prometheus
    access: proxy
    url: http://{{ prometheus_container_name }}:9090
    isDefault: true
    editable: false
    jsonData:
      timeInterval: 30s
      httpMethod: GET

  - name: Loki
    uid: loki
    type: loki
    access: proxy
    url: http://{{ loki_container_name }}:3100
    editable: false
    jsonData:
      timeout: 60
      maxLines: 1000


