.deckedit-view {
  padding: 2px;
  box-sizing: border-box;
  display: block;
  position: relative;
  height: 100%;
  overflow-y: auto;
}

.deckedit-view__header-title { margin-left: var(--lumo-space-m); }
.deckedit-view__section-title { margin-top: 0; }


