.home-view {
  padding: var(--lumo-space-m);
  box-sizing: border-box;
  display: block;
  position: relative;
  height: 100%;
  overflow-y: auto;
}

.home-view__title {
  margin: 0;
}

.home-view__toolbar {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.home-view__search {
  width: 300px;
}

.home-view__decks {
  width: 100%;
  padding: 0;
  gap: var(--lumo-space-m);
}

.deck-card {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--lumo-contrast-20pct);
  border-radius: var(--lumo-border-radius-m);
  padding: var(--lumo-space-m);
  cursor: pointer;
  transition: box-shadow 0.2s;
  background: var(--lumo-base-color);
}

.deck-card:hover {
  box-shadow: 0 2px 8px rgb(0 0 0 / 0.06);
}

.deck-card__icon {
  font-size: 1.5em;
}

.deck-card__description,
.deck-card__progress-details {
  color: var(--lumo-secondary-text-color);
}

.home-view[dragging] {
  --cv-checkerboard-color1: hsl(var(--cv-blue) / 0.2);
  --cv-checkerboard-color2: hsl(var(--cv-blue) / 0.1);
  --cv-layout-border-color: var(--cv-dropzone-border-color);
}

.home-view .preview-container {
  display: contents;
}


